/.github export-ignore
/build export-ignore
/docker export-ignore
/docs export-ignore
/spec export-ignore
/tests export-ignore
.auto-changelog export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.dist.php export-ignore
.scrutinizer.yml export-ignore
infection.json export-ignore
grumphp.yml export-ignore
phpunit.xml export-ignore
docker-compose.yaml export-ignore
psalm-baseline.xml export-ignore
psalm.xml export-ignore
phpstan-baseline.neon export-ignore
phpstan-docs-baseline.neon export-ignore
phpstan-unsupported-baseline.neon export-ignore
phpstan.neon.dist export-ignore
