imports:
  - { resource: vendor/drupol/php-conventions/config/php71/grumphp.yml }

parameters:
  process_timeout: 600
  extra_tasks:
    phpspec:
      verbose: true
      metadata:
        priority: 3000
    infection:
      threads: 10
      test_framework: phpspec
      configuration: infection.json.dist
      min_msi: 75
      min_covered_msi: 80
      metadata:
        priority: 2000

