imports:
  - { resource: vendor/drupol/php-conventions/config/php71/grumphp.yml }

parameters:
  extra_tasks:
    psalm:
      show_info: true
    phpspec:
      verbose: true
    infection:
      threads: 10
      test_framework: phpspec
      configuration: infection.json.dist
      min_msi: 90
      min_covered_msi: 90
