parameters:
	ignoreErrors:
		-
			message: "#^Unable to resolve the template type NewT in call to method static method loophp\\\\collection\\\\Collection\\<mixed,mixed\\>\\:\\:fromIterable\\(\\)$#"
			count: 1
			path: docs/pages/code/parse-git-log.php

		-
			message: "#^Unable to resolve the template type NewTKey in call to method static method loophp\\\\collection\\\\Collection\\<mixed,mixed\\>\\:\\:fromIterable\\(\\)$#"
			count: 1
			path: docs/pages/code/parse-git-log.php
