parameters:
	ignoreErrors:
		-
			message: "#^Method loophp\\\\collection\\\\Collection\\:\\:dispersion\\(\\) should return loophp\\\\collection\\\\Contract\\\\Collection\\<int, float\\|int\\<0, 1\\>\\> but returns loophp\\\\collection\\\\Collection\\<int, float\\|int\\>\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Method loophp\\\\collection\\\\Collection\\:\\:entropy\\(\\) should return loophp\\\\collection\\\\Contract\\\\Collection\\<int, float\\|int\\<0, 1\\>\\> but returns loophp\\\\collection\\\\Collection\\<int, float\\|int\\>\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Method loophp\\\\collection\\\\Collection\\:\\:group\\(\\) should return loophp\\\\collection\\\\Contract\\\\Collection\\<int, array\\<int, T\\>\\> but returns loophp\\\\collection\\\\Collection\\<int, array\\<int, mixed\\>\\>\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Method loophp\\\\collection\\\\Collection\\:\\:inits\\(\\) should return loophp\\\\collection\\\\Contract\\\\Collection\\<int, array\\<int, array\\{TKey, T\\}\\>\\> but returns loophp\\\\collection\\\\Collection\\<int, array\\<int, array\\{mixed, mixed\\}\\>\\>\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Method loophp\\\\collection\\\\Collection\\:\\:pack\\(\\) should return loophp\\\\collection\\\\Contract\\\\Collection\\<int, array\\{TKey, T\\}\\> but returns loophp\\\\collection\\\\Collection\\<int, array\\{mixed, mixed\\}\\>\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Method loophp\\\\collection\\\\Collection\\:\\:partition\\(\\) should return loophp\\\\collection\\\\Contract\\\\Collection\\<int, loophp\\\\collection\\\\Collection\\<TKey, T\\>\\> but returns loophp\\\\collection\\\\Contract\\\\Collection\\<mixed, loophp\\\\collection\\\\Collection\\<mixed, mixed\\>\\>\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Method loophp\\\\collection\\\\Collection\\:\\:span\\(\\) should return loophp\\\\collection\\\\Contract\\\\Collection\\<int, loophp\\\\collection\\\\Collection\\<TKey, T\\>\\> but returns loophp\\\\collection\\\\Contract\\\\Collection\\<mixed, loophp\\\\collection\\\\Collection\\<mixed, mixed\\>\\>\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Method loophp\\\\collection\\\\Collection\\:\\:squash\\(\\) should return loophp\\\\collection\\\\Contract\\\\Collection\\<TKey, T\\> but returns loophp\\\\collection\\\\Contract\\\\Collection\\<int, array\\{TKey, T\\}\\>\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Method loophp\\\\collection\\\\Collection\\:\\:tails\\(\\) should return loophp\\\\collection\\\\Contract\\\\Collection\\<int, array\\<int, T\\>\\> but returns loophp\\\\collection\\\\Collection\\<int, array\\<int, mixed\\>\\>\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Method loophp\\\\collection\\\\Collection\\:\\:transpose\\(\\) should return loophp\\\\collection\\\\Contract\\\\Collection\\<TKey, array\\<int, T\\>\\> but returns loophp\\\\collection\\\\Collection\\<mixed, array\\<int, mixed\\>\\>\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Method loophp\\\\collection\\\\Collection\\:\\:unzip\\(\\) should return loophp\\\\collection\\\\Contract\\\\Collection\\<int, array\\<int, T\\>\\> but returns loophp\\\\collection\\\\Collection\\<int, array\\<int, mixed\\>\\>\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Method loophp\\\\collection\\\\Collection\\:\\:wrap\\(\\) should return loophp\\\\collection\\\\Contract\\\\Collection\\<int, array\\<\\(int&TKey\\)\\|\\(string&TKey\\), T\\>\\> but returns loophp\\\\collection\\\\Collection\\<int, array\\<int\\|string, mixed\\>\\>\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable, Closure\\(iterable\\)\\: Generator\\<mixed, mixed, mixed, mixed\\> given\\.$#"
			count: 13
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable, Closure\\(iterable\\)\\: iterable given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable, Closure\\(iterable\\<array\\<int, mixed\\>\\>\\)\\: Generator\\<mixed, mixed, mixed, mixed\\> given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable, Closure\\(iterable\\<array\\{mixed, mixed\\}\\>\\)\\: Generator\\<mixed, mixed, mixed, mixed\\> given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable\\<array\\<int, mixed\\>\\>, Closure\\(iterable\\)\\: Generator\\<mixed, array\\<int, mixed\\>, mixed, mixed\\> given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable\\<int, array\\<int, array\\{mixed, mixed\\}\\>\\>, Closure\\(iterable\\)\\: Generator\\<int, array\\<int, array\\{mixed, mixed\\}\\>, mixed, mixed\\> given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable\\<int, array\\<int, mixed\\>\\>, Closure\\(iterable\\)\\: Generator\\<int, array\\<int, mixed\\>, mixed, mixed\\> given\\.$#"
			count: 2
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable\\<int, array\\<int, mixed\\>\\>, Closure\\(iterable\\<array\\<int, mixed\\>\\>\\)\\: Generator\\<int, array\\<int, mixed\\>, mixed, mixed\\> given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable\\<int, array\\<int\\|string, mixed\\>\\>, Closure\\(iterable\\)\\: Generator\\<int, array\\<int\\|string, mixed\\>, mixed, mixed\\> given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable\\<int, array\\{mixed, mixed\\}\\>, Closure\\(iterable\\)\\: Generator\\<int, array\\{mixed, mixed\\}, mixed, mixed\\> given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable\\<int, float\\>, Closure\\(iterable\\)\\: Generator\\<int, float, mixed, mixed\\> given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable\\<int, float\\|int\\>, Closure\\(iterable\\)\\: Generator\\<int, float\\|int\\<0, 1\\>, mixed, mixed\\> given\\.$#"
			count: 2
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable\\<int, mixed\\>, Closure\\(iterable\\)\\: Generator\\<int, mixed, mixed, mixed\\> given\\.$#"
			count: 3
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable\\<int, mixed\\>, Closure\\(iterable\\)\\: Generator\\<int, mixed, mixed, void\\> given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable\\<int, string\\>, Closure\\(iterable\\)\\: Generator\\<int, string, mixed, mixed\\> given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(mixed \\.\\.\\.\\)\\: iterable\\<string\\>, Closure\\(iterable\\)\\: Generator\\<mixed, string, mixed, mixed\\> given\\.$#"
			count: 3
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 of closure expects array\\<callable\\(mixed \\.\\.\\.\\)\\: bool\\>, array\\<int\\|string, callable\\(T, TKey, iterable\\<TKey, T\\>\\)\\: bool\\> given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 of closure expects callable\\(mixed, mixed, iterable\\)\\: bool, Closure\\(\\)\\: void given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Parameter \\#1 of closure expects callable\\(mixed, mixed, mixed, iterable\\)\\: mixed, callable\\(T\\|V, T, TKey, Iterator\\<TKey, T\\>\\)\\: \\(T\\|V\\) given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Template type U of method loophp\\\\collection\\\\Collection\\:\\:empty\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Template type UKey of method loophp\\\\collection\\\\Collection\\:\\:empty\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^PHPDoc tag @return with type loophp\\\\collection\\\\CollectionDecorator\\<UKey, U\\> is incompatible with native type static\\(loophp\\\\collection\\\\CollectionDecorator\\<TKey, T\\>\\)\\.$#"
			count: 2
			path: src/CollectionDecorator.php

		-
			message: "#^PHPDoc tag @return with type loophp\\\\collection\\\\CollectionDecorator\\<int, string\\> is incompatible with native type static\\(loophp\\\\collection\\\\CollectionDecorator\\<TKey, T\\>\\)\\.$#"
			count: 1
			path: src/CollectionDecorator.php

		-
			message: "#^Template type U of method loophp\\\\collection\\\\Operation\\\\Append\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Append.php

		-
			message: "#^Template type NewT of method loophp\\\\collection\\\\Operation\\\\Associate\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Associate.php

		-
			message: "#^Template type NewTKey of method loophp\\\\collection\\\\Operation\\\\Associate\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Associate.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\AsyncMap\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/AsyncMap.php

		-
			message: "#^Anonymous function with return type void returns void but should not return anything\\.$#"
			count: 2
			path: src/Operation/Combinate.php

		-
			message: "#^Template type U of method loophp\\\\collection\\\\Operation\\\\Combine\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Combine.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\Current\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Current.php

		-
			message: "#^Template type U of method loophp\\\\collection\\\\Operation\\\\Distinct\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Distinct.php

		-
			message: "#^Template type U of method loophp\\\\collection\\\\Operation\\\\Duplicate\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Duplicate.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\Find\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Find.php

		-
			message: "#^Template type IKey of method loophp\\\\collection\\\\Operation\\\\FlatMap\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/FlatMap.php

		-
			message: "#^Template type IValue of method loophp\\\\collection\\\\Operation\\\\FlatMap\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/FlatMap.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\FoldLeft\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/FoldLeft.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\FoldLeft1\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/FoldLeft1.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\FoldRight\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/FoldRight.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\FoldRight1\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/FoldRight1.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\Get\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Get.php

		-
			message: "#^Parameter \\#1 of closure expects callable\\(mixed, mixed, iterable\\)\\: bool, Closure\\(mixed, mixed, loophp\\\\iterators\\\\CachingIteratorAggregate\\)\\: bool given\\.$#"
			count: 1
			path: src/Operation/Init.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\Map\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Map.php

		-
			message: "#^Template type U of method loophp\\\\collection\\\\Operation\\\\Prepend\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Prepend.php

		-
			message: "#^Template type U of method loophp\\\\collection\\\\Operation\\\\Product\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Product.php

		-
			message: "#^Template type UKey of method loophp\\\\collection\\\\Operation\\\\Product\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Product.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\Reduce\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Reduce.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\Reduction\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Reduction.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\ScanLeft\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/ScanLeft.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\ScanLeft1\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/ScanLeft1.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\ScanRight\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/ScanRight.php

		-
			message: "#^Template type V of method loophp\\\\collection\\\\Operation\\\\ScanRight1\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/ScanRight1.php

		-
			message: "#^Template type T of method loophp\\\\collection\\\\Operation\\\\Unfold\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Unfold.php

		-
			message: "#^Template type TKey of method loophp\\\\collection\\\\Operation\\\\Unfold\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Unfold.php

		-
			message: "#^While loop condition is always true\\.$#"
			count: 1
			path: src/Operation/Unfold.php

		-
			message: "#^Template type U of method loophp\\\\collection\\\\Operation\\\\Zip\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Zip.php

		-
			message: "#^Template type UKey of method loophp\\\\collection\\\\Operation\\\\Zip\\:\\:__invoke\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: src/Operation/Zip.php

		-
			message: "#^While loop condition is always true\\.$#"
			count: 1
			path: tests/static-analysis/scanLeft1.php

		-
			message: "#^While loop condition is always true\\.$#"
			count: 1
			path: tests/static-analysis/scanRight1.php
