parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$callable of class loophp\\\\collection\\\\Collection constructor expects callable\\(\\.\\.\\.mixed\\)\\: iterable\\<int, string\\>, Closure\\(string, string\\)\\: loophp\\\\collection\\\\Iterator\\\\StringIterator\\<mixed, string\\> given\\.$#"
			count: 1
			path: src/Collection.php

		-
			message: "#^Generic type loophp\\\\collection\\\\Contract\\\\Operation\\\\Unpackable\\<mixed, mixed\\> in PHPDoc tag @extends does not specify all template types of interface loophp\\\\collection\\\\Contract\\\\Operation\\\\Unpackable\\: TKey, T, NewTKey, NewT$#"
			count: 1
			path: src/Contract/Collection.php

		-
			message: "#^PHPDoc tag @template T for class loophp\\\\collection\\\\Contract\\\\Operation\\\\Unpackable with bound type array\\<int, NewT\\|NewTKey\\> is not supported\\.$#"
			count: 1
			path: src/Contract/Operation/Unpackable.php

		-
			message: "#^PHPDoc tag @template T for interface loophp\\\\collection\\\\Contract\\\\Operation\\\\Unpackable with bound type array\\<int, NewT\\|NewTKey\\> is not supported\\.$#"
			count: 1
			path: src/Contract/Operation/Unpackable.php

		-
			message: "#^PHPDoc tag @template T for class loophp\\\\collection\\\\Operation\\\\Unpack with bound type array\\<int, NewT\\|NewTKey\\> is not supported\\.$#"
			count: 1
			path: src/Operation/Unpack.php

		-
			message: "#^Parameter \\#1 \\$collection of function asyncMap_checkListString expects loophp\\\\collection\\\\Contract\\\\Collection\\<int, string\\>, loophp\\\\collection\\\\Contract\\\\Collection\\<int, non\\-empty\\-string\\> given\\.$#"
			count: 2
			path: tests/static-analysis/asyncMap.php

		-
			message: "#^Parameter \\#1 \\$collection of function asyncMap_checkMapString expects loophp\\\\collection\\\\Contract\\\\Collection\\<string, string\\>, loophp\\\\collection\\\\Contract\\\\Collection\\<string, non\\-empty\\-string\\> given\\.$#"
			count: 1
			path: tests/static-analysis/asyncMap.php

		-
			message: "#^Parameter \\#1 \\$collection of function flatMap_checkListString expects loophp\\\\collection\\\\Contract\\\\Collection\\<int, string\\>, loophp\\\\collection\\\\Contract\\\\Collection\\<int, non\\-empty\\-string\\> given\\.$#"
			count: 2
			path: tests/static-analysis/flatMap.php

		-
			message: "#^Parameter \\#1 \\$collection of function map_checkListString expects loophp\\\\collection\\\\Contract\\\\Collection\\<int, string\\>, loophp\\\\collection\\\\Contract\\\\Collection\\<int, non\\-empty\\-string\\> given\\.$#"
			count: 2
			path: tests/static-analysis/map.php

		-
			message: "#^Parameter \\#1 \\$collection of function map_checkMapString expects loophp\\\\collection\\\\Contract\\\\Collection\\<string, string\\>, loophp\\\\collection\\\\Contract\\\\Collection\\<string, non\\-empty\\-string\\> given\\.$#"
			count: 1
			path: tests/static-analysis/map.php

		-
			message: "#^Parameter \\#1 \\$collection of function reduction_checkListString expects loophp\\\\collection\\\\Contract\\\\Collection\\<int, string\\>, loophp\\\\collection\\\\Contract\\\\Collection\\<int, non\\-empty\\-string\\> given\\.$#"
			count: 1
			path: tests/static-analysis/reduction.php

		-
			message: "#^Parameter \\#1 \\$collection of function reduction_checkListStringWithNull expects loophp\\\\collection\\\\Contract\\\\Collection\\<int, string\\>, loophp\\\\collection\\\\Contract\\\\Collection\\<int, non\\-empty\\-string\\> given\\.$#"
			count: 1
			path: tests/static-analysis/reduction.php

		-
			message: "#^Parameter \\#1 \\$collection of function scanLeft_checkListStringWithNull expects loophp\\\\collection\\\\Contract\\\\Collection\\<int, string\\|null\\>, loophp\\\\collection\\\\Contract\\\\Collection\\<int, non\\-empty\\-string\\|null\\> given\\.$#"
			count: 1
			path: tests/static-analysis/scanLeft.php

		-
			message: "#^Parameter \\#1 \\$collection of function scanRight_checkListStringWithNull expects loophp\\\\collection\\\\Contract\\\\Collection\\<int, string\\|null\\>, loophp\\\\collection\\\\Contract\\\\Collection\\<int, non\\-empty\\-string\\|null\\> given\\.$#"
			count: 1
			path: tests/static-analysis/scanRight.php

